/* 初始化样式 */
html { font-family:"微软雅黑";}

body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input,figure { margin: 0;padding: 0; }

body { -webkit-overflow-scrolling: touch; text-align:left;  max-height: 100%; }

a, a:hover { text-decoration: none; outline: none;  }

li { list-style: none }

img { border: none; max-width:100%; }

input, select, textarea { border: none; outline: none; background: none }

em,i { font-style: normal }

h1, h2, h3, h4, h5, h6 { font-weight: normal }
body{
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgb(6,19,49);
}
/* header样式 */
.header {
    height: 80px;
    font-size: 26px;
    line-height: 80px;
    color: #ccc;
    padding-left: 30px;
    border-bottom: 1px solid #eee;
}
/* content样式 */
.content{
    padding-left: 120px;
}
/* left样式 */
.left{
    position: absolute;
    top: 81px;
    left: 0;
    width: 120px;
    z-index: 1;
}
.left dl{
    padding-top: 10px; 
}
.left dd{
    width: 120px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #ccc;
    cursor: pointer;
}
.left dd a{
    display: block;
    color: #ccc;
}
.left dd a:hover, .left dd.on a{
    color: #20A0FF;
}
.left dd:hover, .left dd.on{
    color: #20A0FF;
}
/* right样式 */
.right{
    padding-left: 15px;
    padding-top: 15px;
    border-left: 1px #eee solid;
    overflow: hidden;
}
/* 搜索样式 */
.form{
   
}
.form .mt40{
    float: left;
    margin-right: 15px;
}
.form .input{
    margin-right: 15px;
    float: left;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 4px;
}
.form .button{
    border-radius: 4px;
    width: 90px;
    text-align: center;
    height: 34px;
    line-height: 34px;
    float: left;
    margin-right: 15px;
    border: 1px solid #ddd;
}
/* table样式 */
table{
    border-top: 1px solid #EBEEF5;
    border-left: 1px solid #EBEEF5;
}
th{
    border-right: 1px solid #EBEEF5;
}
td{
    border-right: 1px solid #EBEEF5;
    border-bottom: 1px solid #EBEEF5;
}