.right{
  background: #fff;
}
.table{
  margin-top: 30px;
  width: 100%;
  overflow: auto;
}
.table table{
  border: none;
  border-left: 1px solid #EBEEF5;
  border-top: 1px solid #EBEEF5;
  margin-bottom: 20px;
}
.table table td{
  padding: 10px;
  text-overflow: ellipsis;
  font-size: 12px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  font-weight: normal;
  color: #666;
  border: none;
  border-right: 1px solid #EBEEF5;
  border-bottom: 1px solid #EBEEF5;
}